<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body style="margin: 50px">
    <h1 style="text-align: center;"><%= title %></h1>
    <h3>Información para poder consumir la API:</h3>

    <article >
      <ul>
        <li>
          <pre>
            Para ver todos los usuarios de la DB:
                  http://localhost:4000/api/allUsers
          </pre>
        </li>
        <li>
          <pre>
            Para consultar un usuario por su ID:
                  http://localhost:4000/api/user/:user_id
          </pre>
        </li>
        <li>
          <pre>
            Para consultar un usuario por su Role:
                http://localhost:4000/api/user/role/:user_rol
          </pre>
        </li>
        <li>
          <pre>
            Para actualizar el Role de un usuario:
                http://localhost:4000/api/update/:user_id/:user_role
          </pre>
        </li>
        <li>
          <pre>
            Para aliminar un usuario:
                http://localhost:4000/api/user/delete/:user_id
          </pre>
        </li>
        <li>
          <pre>
            Para crear un usuario random:
                http://localhost:4000/api/createUser/
          </pre>
        </li>
      </ul>
    </article>
  </body>
</html>

